{% extends "mobileLayout.html" %}
{% block title %}{{title}}{% endblock %}
{% block bodyContent %}
<h1>{{ title }}</h1>
<form action="/infectedFootprints" method="POST">
    <div class="form-group">
        <label>
            感染商店：
            <select  name="siteId" class="custom-select" required>
                {% for site in sites %}
                <option value="{{ site['id'] }}">
                    {{  companyName + " " + site['name'] }}
                </option>
                {% endfor %}
            </select>
        </label>
        <br>
        <label>
            傳播力道：
            <input type="radio" name="strength" value="1">1&nbsp
            <input type="radio" name="strength" value="2">2&nbsp
            <input type="radio" name="strength" value="3">3&nbsp
        </label>
        <br>
        <label>
            感染時間：<input type="datetime-local" class="form-control" id="infectedTime" name="infectedTime"
                required="required" value="" step="1">
        </label>
        <br>
        <button type="submit" class="btn btn-primary">疫調</button>
    </div>
</form>

{% endblock %}