<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>防疫社群 - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}" />
</head>


<body>
  <main>
    <section class="section">
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </section>
    <script type="text/javascript">
      let currentURL = new URL(location.href);
      let urlParams = currentURL.searchParams;
      let lineId = urlParams.get('lineId');//get lineId content
      let newURL = location.href.replace(currentURL.search,"")
      if (location.href.indexOf("?") != -1) {
        window.history.pushState({}, 0, newURL);
      }
    </script>
  </main>
</body>

</html>
