{% extends "mobileLayout.html" %}
{% block title %}{{title}}{% endblock %}
{% block bodyContent %}
<h1 class="title">{{title}}</h1>

    <div class="field">
      <label for="name" class="label">姓名：{{member['name']}}</label>
    </div>

    <div class="field">
      <label for="id" class="label">id：{{member['id']}}</label>
    </div>

    <div class="field">
      <label for="lineId" class="label">LineId：{{member['lineId']}}</label>
    </div>

    <div class="field">
      <label for="" class="label">Email：{{member['email']}}</label>
    </div>

    {% if member['role'] == 'customer' %}
        <div class="field">
            <label for="角色" class="label">角色：顧客</label>
        </div>
    {% else %}
        <div class="field">
            <label for="角色" class="label">角色：管理者</label>
        </div>
    {% endif %}
   <a class="button is-link" href="/myForm/{{member['id']}}">修改</a>
{% endblock %}