{% extends "mobileLayout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block bodyContent %}
<h1 class="title">{{title}}</h1>
<label class="label">
    <div id="umsList">
        <table id="tableSort">
            <thead>
                <tr>
                    <th width="60px">序號</th>
                    <th width="80px">企業</th>
                    <th width="100px">商店</th>
                    <th>時間</th>
                </tr>
            </thead>
            <tbody>
                {% for footprints in footprintsData %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{footprints['companyName']}}</td>
                    <td>{{footprints['siteName']}}</td>
                    <td>{{footprints['timestamp']}}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>
</label>
{% endblock %}