{% extends "mobileLayout.html" %}
{% block title %}{{title}}{% endblock %}
{% block bodyContent %}
<h1 class="title">{{title}}</h1>
<form action="/mySite" method="POST">
    <label class="label">
        <div class="field">
            <input type="hidden" name="companyId" value={{company.id}}>
            企業：{{company.name}}
        </div>
        <div class="field form-inline">
            商店編號：<input class="label" name="id" value="{{site.id}}">
        </div>
        <div class="field form-inline">
            商店名稱：<input class="label" name="name" value="{{site.name}}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">增修</button>
        </div>
    </label>
</form>
{% endblock %}