{% extends "mobileLayout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block bodyContent %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<h1 class="title">{{ result.company.name }}</h1>

<hr size="8px" align="center" width="100%">
<div id="siteList" style="width: 100%;">
    <div class="field form-inline">
        <h2>商店列表</h2>
        <a class="button is-link" style="margin-left: auto;" href="/mySite">新增</a>
    </div>
    <table style="border:2px solid;" class="table table-bordered">
        <tbody id="siteTable">
            <tr>
                <th>商店編號</th>
                <th>商店名稱</th>
                <th>編輯</th>
            </tr>
            {% for site in result.sites %}
            <tr>
                <th> {{ site.id }} </th>
                <th>{{ site.name }}</th>
                <th><a class="button is-link" href="/mySite/{{site.id}}">修改</a></th>
            <tr>
                {% endfor %}
        </tbody>
    </table>
    <tr>
        <h2>成員列表</h2>
        <table style="border:2px solid;" class="table table-bordered">
            <tbody id="memberTable">
                <tr>
                    <th>成員編號</th>
                    <th>成員姓名</th>
                    <th>成員角色</th>
                </tr>
                {% for member in result.members %}
                <tr>
                    <th>{{ member.id }} </th>
                    <th>{{ member.name }}</th>
                    <th>{{ member.role }}</th>
                <tr>
                    {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}