{% extends "mobileLayout.html" %}
{% block title %}綁定{% endblock %}
{% block bodyContent %}
<h1 class="title">綁定</h1>
<script>
    liff.init({
        liffId: "{{liffId}}"
    })
        .then(() => {
            // Use liff's api
            liff.getProfile()
                .then(profile => {

                    const lineId = profile.userId;
                    document.getElementById("lineId").value = lineId;
                })
                .catch((err) => {
                    console.log('error', err);
                });
        })
        .catch((err) => {
            console.log(err.code, err.message);
        });
</script>

<form action="" method="POST">
    <label class="label">
        <div class="field form-inline">
            <input type="hidden" name="lineId" id='lineId' class="input" required="required" />
            <button class="button is-link">Line綁定</button>
        </div>
    </label>
</form>
{% endblock %}