<!DOCTYPE html>
<html lang="ch">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>
<body>
    <script>
        liff.init({
            liffId: "{{liffId}}" // config parameter
        })
    </script>

    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">麥當勞</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/signUp">會員註冊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">會員登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/binding">會員綁定</a>
                </li>
            </ul>
        </div>
    </nav>

    <section style="text-align:center; margin-bottom: auto;font-size: 5vw;" >
        <div style="text-align:center;padding: 10px;">
            <h1 style="font-weight:bold;padding-top: 10%">智能防疫系統</h1>
        </div>
        <div style="margin: 10% auto">
            <a class="btn btn-primary" href="/newFootprint">實聯掃碼</a>
            <a class="btn btn-primary" href="/myFootprints">我的足跡</a>
            <a class="btn btn-primary" href="/myData">我的個資</a>
        </div>
        <div>
            <a class="btn btn-primary" href="/mycompany">我的企業</a>
            <a class="btn btn-primary" href="/checkFootprints">疫情調查</a>
            <a class="btn btn-primary" href="/myreport">統計報表</a>
        </div>
    </section>

</body>
</html>