<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <center>
        <h1>報表檢視</h1>
        <iframe width="400" height="1200"
            src="https://datastudio.google.com/embed/reporting/f294ac40-782d-4cc1-ba16-d16eb67ddec9/page/EUZaC"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </center>
</body>

</html>