{% extends "mobileLayout.html" %}

{% block title %}疫調通報{% endblock %}

{% block bodyContent %}


<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <form method="POST">
    <script src="http://www.itxst.com/package/jquery-3.3.1/jquery.js"></script>
    <center>
      <h1 style="color:dodgerblue">疫調管理</h1>
    
        <div class="form-group">
          <label for="infectionTime">請選擇確診時間：
            <input type="datetime-local" class="form-control" id="confirmedTime" name="confirmedTime"
              required="required" value="" step="1"></label>
          <br>
          <label for="userList">請選擇確診者：
            <select id="companySelect" name="memberId">  
              <option>請選擇確診者</option>
                {% for memberData in memberDataList %}
                <option value="{{memberData.id}}">{{memberData.name}}</option>
                {% endfor %}
            </select>
          </label>
    </center>
          <br>
          <label for="spreadStrength">請選擇傳播力道：</label>
          <input type="radio" name="spreadStrength" value="0">0
          <input type="radio" name="spreadStrength" value="1">1
          <input type="radio" name="spreadStrength" value="2">2
          <input type="radio" name="spreadStrength" value="3">3
          <br>

          <center>
            <button type="submit" class="btn btn-primary" formaction="/epidemicNotificationResponse">疫調</button>
          </center>

          <br>
        </div>

  </form>
  </div>
  </div>

</body>

{% endblock %}