{% extends "mobileLayout.html" %}

{% block title %}隔離通報{% endblock %}

{% block bodyContent %}

<body>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <center>
    <h1 style="color:dodgerblue">隔離通報</h1>
    <br>
    <div class="bs-stepper-content">
      <div id="step1" class="content" role="tabpanel">
        <div style="text-align:center">
          <!-- <h3 style="color:dodgerblue">商家註冊</h3> -->
        </div>
        <center>
          <form method="POST">
            <div class="form-group">
              <h4>事件:<h5>{{result.eventId}}</h5></h4>
              <h4>確診顧客:{{result.name}}</h4>
              <h4>確診時間:{{result.timestamp}}</h4>
              <h4>傳播力道:{{result.spreadStrength}}</h4>
              <br>
        </center>
        </form>
      </div>
    </div>

    <h3 style="color:dodgerblue">隔離名單</h3>
  </center>


  <table id="tab" class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">顧客</th>
        <th scope="col">商店名稱</th>
        <th scope="col">時間</th>
      </tr>
    </thead>
    <tbody id=tbody>
      {% for infectedMember in infectedList %}
      <tr>
        <th scope="row"></th>
        <td>{{loop.index}}</td>
        <td>{{infectedMember.name}}</td>
        <td>{{infectedMember.siteName}}</td>
        <td>{{infectedMember.timestamp}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <center>
    <h4>隔離人數:{{infectedList|length}}</h4>
  </center>
</body>
{% endblock %}