<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    {% extends "layout.html" %}
    {% block title %}我的足跡列表{% endblock %}
    {% block content %}
    <h1 class="title">{{title}}</h1>


    <div id="umsList">
        <table id="tableSort">
            <thead>
                <tr>
                    <th>順序</th>
                    <th>商店</th>
                    <th>timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for footPrints in footPrintsData_list %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{footPrints['siteName']}}</td>
                    <td>{{footPrints['timestamp']}}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>
    {% endblock %}
</body>

</html>