
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1 class="title">{{title}}</h1>

<div class="field">
  <label for="姓名" class="label">姓名：{{memberData['name']}}</label>
</div>

<div class="field">
  <label for="lineId" class="label">LineId：{{memberData['lineId']}}</label>
</div>

{% if memberData['role'] == 'customer' %}
    {% set customer_checked = 'checked' %}
    {% set manager_checked = '' %}
{% else %}
    {% set customer_checked = '' %}
    {% set manager_checked = 'checked' %}
{% endif %}

<form action="" method="POST" name="modifyRole">
  <div class="field">
    <label for="身分" class="label">身分：
      <input type="radio" name="role" value="customer" {{ customer_checked }}>顧客
      <input type="radio" name="role" value="manager"  {{ manager_checked }}>管理者
    </label>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary is-small">修改</button>
      
    </div>
  </div>
</form>

{% endblock %}