<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        function changeCompany() {
            var companyId = document.getElementById("companySelect").value;
            console.log(companyId);
            getCompanyData(companyId);
        }
        function getCompanyData(companyId) {
            var requestURL = '/getCompanyData'
            var companyData = {};
            companyData["companyId"] = companyId
            $.ajax({
                url: requestURL,
                data: JSON.stringify(companyData),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",

                success: function (returnData) {
                    $("#siteTable tr").remove();
                    $("#memberTable tr").remove();
                    createSiteTable(returnData["sitesData"]);
                    createMemberTable(returnData["membersData"]);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }
        function createSiteTable(sitesData) {
            siteTable = document.getElementById("siteTable");

            siteTable.innerHTML += '<tr><th>' + '商店編號' + '</th><th>' + '商店名稱' + '</th><th>';
            for (var i = 0; i < sitesData.length; i++) {
                siteTable.innerHTML += '<tr><th>' + sitesData[i]["id"] + '</th><th>' + sitesData[i]["name"] + '</th><th>';

            }
        }
        function createMemberTable(membersData) {
            memberTable = document.getElementById("memberTable");
            memberTable.innerHTML += '<tr><th>' + '成員編號' + '</th><th>' + '成員姓名' + '</th><th>' + '成員角色' + '</th></tr>';
            for (var i = 0; i < membersData.length; i++) {
                memberTable.innerHTML += '<tr><th>' + membersData[i]["id"] + '</th><th>' + membersData[i]["name"] + '</th><th>' + membersData[i]["role"] + '</th></tr>';
            }
        }

    </script>
    {% extends "layout.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
    <h1 class="title">企業設定</h1>
    <div id="companyList">
        <select id="companySelect" onchange="changeCompany()" style="font-size:20px;" class="custom-select">
            <option>請選擇企業</option>
            {% for key, value in companyData.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </div>
    <hr size="8px" align="center" width="100%">
    <div id="siteList" style="width: 100%;">
        <h2>商店列表</h2>
        <table id="siteTable" style="border:2px solid;" class="table table-bordered">
            <thead>
                <tr>
                    <th>商店編號</th>
                    <th>商店名稱</th>
                </tr>
            </thead>
        </table>
        <tr>
            <h2>成員列表</h2>
            <table id="memberTable" style="border:2px solid;" class="table table-bordered">
                <thead>
                    <tr>
                        <th>成員編號</th>
                        <th>成員姓名</th>
                        <th>成員角色</th>
                    </tr>
                </thead>
            </table>
    </div>


    {% endblock %}
</body>

</html>