<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    {% extends "layout.html" %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}

    <div>
      <p class="title">{{QRcodeModel['siteName']}}</p>
      <img src="{{QRcodeModel['qrCode_base64']}}" />
      <p>場所代碼 : {{QRcodeModel['siteId']}} </p>

      <button class="Button is-primary" class="is-primary" onClick="javascript:print();">列印</button>
    </div>



    {% endblock %}
</body>

</html>