{% extends "mobileLayout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block bodyContent %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    function newSite() {
        var companyId = document.getElementById("companySelected").value;
        window.location.href = "/mySite/" + companyId ;
    };

    function getCompany() {
        var requestURL = '/getCompany';
        var company = {};
        var companyId = document.getElementById("companySelected").value;

        company["companyId"] = companyId
        $.ajax({
            url: requestURL,
            data: JSON.stringify(company),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",

            success: function (companyData) {
                $("#siteTable tr").remove();
                $("#memberTable tr").remove();
                createSiteTable(companyData["sites"]);
                createMemberTable(companyData["members"]);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function createSiteTable(sites) {
        var companyId = document.getElementById("companySelected").value;
        siteTable = document.getElementById("siteTable");
        siteTable.innerHTML += '<tr><th>' + '商店編號' + '</th><th>' + '商店名稱' + '</th><th>' + '編輯' + '</th></tr>';
        for (var i = 0; i < sites.length; i++) {
            siteTable.innerHTML += '<tr><th>' + sites[i]["id"] + '</th><th>' + sites[i]["name"] + '</th><th>' + '<a class="button is-link" href= "/mySite/' + companyId + '/' + sites[i]["id"] + '">修改</a>' + '</th></tr>';

        }
    }

    function createMemberTable(members) {
        memberTable = document.getElementById("memberTable");
        memberTable.innerHTML += '<tr><th>' + '成員編號' + '</th><th>' + '成員姓名' + '</th><th>' + '成員角色' + '</th></tr>';
        for (var i = 0; i < members.length; i++) {
            memberTable.innerHTML += '<tr><th>' + members[i]["id"] + '</th><th>' + members[i]["name"] + '</th><th>' + members[i]["role"] + '</th></tr>';
        }
    }

</script>

<h1 class="title">{{title}}</h1>
<div id="companyList">
    <select id="companySelected" onchange="getCompany()" style="font-size:20px;" class="custom-select">
        {% for company in result.companies %}
            {% if company.id == result.myCompanyId %}
            <option selected="selected" value="{{ company.id }}">{{ company.name }}</option>
            {% else %}
            <option value="{{ company.id }}">{{ company.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<hr size="8px" align="center" width="100%">
<div id="siteList" style="width: 100%;">
    <div class="field form-inline">
        <h2>商店列表</h2>
        <button class="button is-link" style="margin-left: auto;" onclick="newSite()">新增</button>
    </div>
    <table style="border:2px solid;" class="table table-bordered">
        <tbody id="siteTable">
            <tr>
                <th>商店編號</th>
                <th>商店名稱</th>
                <th>編輯</th>
            </tr>
            {% for site in result.sites %}
            <tr>
                <th> {{ site.id }} </th>
                <th>{{ site.name }}</th>
                <th><a class="button is-link" href="/mySite/{{result.myCompanyId}}/{{site.id}}">修改</a></th>
            <tr>
                {% endfor %}
        </tbody>
    </table>
    <tr>
        <h2>成員列表</h2>
        <table style="border:2px solid;" class="table table-bordered">
            <tbody id="memberTable">
                <tr>
                    <th>成員編號</th>
                    <th>成員姓名</th>
                    <th>成員角色</th>
                </tr>
                {% for member in result.members %}
                <tr>
                    <th>{{ member.id }} </th>
                    <th>{{ member.name }}</th>
                    <th>{{ member.role }}</th>
                <tr>
                    {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
