{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1 class="title">{{title}}</h1>

<div class="field">
  <label for="id" class="label">id：{{memberData['id']}}</label>
</div>

<div class="field">
  <label for="姓名" class="label">姓名：{{memberData['name']}}</label>
</div>

<div class="field">
  <label for="lineId" class="label">LineId：{{memberData['lineId']}}</label>
</div>

{% if memberData['role'] == 'customer' %}
  <div class="field">
    <label for="角色" class="label">角色：顧客</label>
  </div>
{% else %}
  <div class="field">
    <label for="角色" class="label">角色：管理者</label>
  </div>
{% endif %}

{% endblock %}